{% extends "layout.html" %}
{% block content %}
<style>
    .fix-footer {
        position: fixed;
        width: 100%;
        bottom: 0;
        overflow: hidden;
        padding: 20px;
        background-color: #f5f5f5;
    }

    #chat-div {
        overflow: scroll;
    }

    .message:last-child {
        margin-bottom: 100px;
    }

    .message-body {
        word-wrap: break-word;
    }

    .sechuv-bot-body {
        border-width: 0 0 0 10px;
    }

    .sechuv-user-body {
        border-width: 0 10px 0 0;
    }
</style>

<div class="columns is-centered">
    <div class="column is-8" id="chat-div">
        <article class="message is-danger">
            <div class="message-body sechuv-bot-body">
                どうしたんだ〜〜〜
            </div>
        </article>
    </div>
</div>
<div class="fix-footer">
    <div class="columns is-centered">
        <div class="column is-8">
            <form action="" id="chat-form">
                <div class="field is-grouped">
                    <p class="control is-expanded">
                        <input class="input" type="text" name="chat-input" id="chat-input" placeholder="">
                    </p>
                    <p class="control">
                        <button class="button is-primary" id="send-button" type="submit">
                            Send
                        </button>
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="{{url_for('static', filename='js/chat.js')}}"></script>
{% endblock %}