{% extends "layout.html" %}
{% block content %}
<div class="columns is-centered">
    <div class="column is-8">
        <div class="card">
            <header class="card-header">
                <p class="card-header-title">
                    <span
                        class="tag is-info">Mail</span>{{ case["spec"]["subject"] if case["spec"]["subject"] else "No Subject" }}
                </p>
                <time class="card-header-icon">
                    {{ "{}/{}/{} {}:{}:{}".format(case["post_date"][0:4], case["post_date"][4:6], case["post_date"][6:8], case["post_date"][8:10], case["post_date"][10:12], case["post_date"][12:14]) }}
                </time>
            </header>
            <div class="card-content">
                <div class="content">
                    {{ case["spec"]["raw_body"] }}
                </div>
            </div>
        </div>
        <br>
    </div>
</div>

{% endblock %}